<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>EMPLOYEES DATA</h1>
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employees of employees">
            <td>{{ employees.id }}</td>
            <td>{{ employees.firstname }}</td>
            <td>{{ employees.lastname }}</td>
            <td>{{ employees.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
