<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>LIST OF PRODUCTS</h1>
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>PRODUCT DESCRIPTION</th>
            <th>PRODUCT PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of product">
            <td>{{ products.prod_id }}</td>
            <td>{{ products.prod_name }}</td>
            <td>{{ products.prod_desc }}</td>
            <td>{{ products.prod_price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
